.body {
    background-repeat: no-repeat;
    background-image: url(AppImage/backgroundApp.jpg);
    font-family: 'Play', sans-serif;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;

}

.title {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.subtitle {
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

.buttton {
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: whitesmoke;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    background-color: transparent;
}

.backbu {
    position: relative;
}

.backbutton {
    padding: 15px;
    color: whitesmoke;
    position: fixed;
    width: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}

.buttonteam {
    text-align: center;
    display: inline-block;
    color: whitesmoke;

}


a:hover {
    text-decoration: none;
    color: black
}

.navegacion {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}

.teams {
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.titleteams {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 8%
}

.tableteams {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 12%;

}

.moreinfo {
    text-align: center;
    margin-top: 20%;
    border-style: solid;
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
}

.tablalocation {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: whitesmoke;
}